<div>
  <div ng-show="!data.editTitle" style="font-weight: bold; line-height: 45px;">
    <a ng-if="!!data.url" href="{{data.url}}" target="_blank" style="line-height: 45px;">
      <span ng-if="!!data.title">{{data.title}}</span>
      <span ng-if="!data.title">{{data.url}}</span>
    </a>
    <span ng-if="!data.url">{{data.title}}</span>
    <span style="float: right">
      <button type="button" class="btn btn-default glyphicon glyphicon-edit" ng-show="!data.contentCollapsed" ng-click="data.editTitle = true"></button>
      <button type="button" class="btn btn-default glyphicon" ng-class="{'glyphicon-triangle-top': !data.contentCollapsed, 'glyphicon-triangle-bottom': !!data.contentCollapsed}" ng-click="data.contentCollapsed = !data.contentCollapsed; save();"></button>
    </span>
  </div>
  <div ng-show="!!data.editTitle">
    <input type="text" class="form-control" style="display: inline-block; width: calc(100% - 180px);" ng-model="data.title" placeholder="标题">
    <button type="button" class="btn btn-default" ng-click="showUrl = !showUrl">链接</button>
    <button type="button" class="btn btn-default" ng-click="data.editTitle = false; save()">保存</button>
    <button type="button" class="btn btn-default" ng-click="delete()">删除</button>
    <input type="text" class="form-control" ng-show="showUrl" ng-model="data.url" placeholder="链接"></input>
  </div>
  <textarea msd-elastic style="width: 100%; padding: 8px; border-radius: 5px; border-color: #eee;" ng-show="!data.contentCollapsed" ng-model="data.note" ng-keydown="onKeyDown($event)" ng-change="modified = true" ng-blur="save()" placeholder="笔记"></textarea>
  <div style="margin-top: 5px">{{createDate}}<button type="button" class="btn btn-primary" style="margin-left: 10px;" ng-show="modified" ng-click="edit = false; save()">保存</button></div>
</div>