* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

textarea {
  resize: none;
}

.highlight-word {
  font-weight: bold;
  color: #094;
}

iframe.full {
  position: fixed;
  border: none;
  top: 40px; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: calc(100% - 40px);
}

.link-list li {
  display: inline;
}

.link-list li:before {
  content:'\00B7';
  padding-right:5px;
}

.date {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  vertical-align: -2px;
  border: solid 1px #ccc;
}

.page-size {
  margin: 5px;
  padding: 5px;
  vertical-align: -2px;
  border-radius: 4px;
  border: solid 1px #ccc;
}

.fixed {
    position: fixed;
     bottom: 0;
     right: 0;
}