<div ng-show="!edit">
  <div>
    <a style="text-decoration: none; line-height: 1.25em; padding-right: 10px; font-weight: bold; font-size: 30px; color: #094; font-family: Verdana,Geneva,sans-serif;" href="http://dict.cn/{{data.word}}">{{data.word}}</a><span style="margin-right: 10px;">{{data.strpho}}</span><b style="margin-right: 10px;">{{data.usertrans}}</b><span>{{data.basetrans}}</span>
  </div>
  <div ng-bind-html="sentenceHtml"></div>
  <a href="{{data.url}}" target="_blank">
    <span ng-if="!!data.title">{{data.title}}</span>
    <span ng-if="!data.title">{{data.url}}</span>
  </a>
  <div>{{createDate}}<button type="button" style="float: right" class="btn btn-default" ng-click="edit = true">修改</button></div>
</div>
<form ng-show="edit">
  <input type="text" class="form-control" ng-model="data.word" placeholder="单词" ng-keyup="$event.keyCode == 13 && update()">
  <input type="text" class="form-control" ng-model="data.strpho" placeholder="音标" ng-keyup="$event.keyCode == 13 && update()">
  <input type="text" class="form-control" ng-model="data.usertrans" placeholder="当前含义" ng-keyup="$event.keyCode == 13 && update()">
  <input type="text" class="form-control" ng-model="data.basetrans" placeholder="字典含义" ng-keyup="$event.keyCode == 13 && update()">
  <input type="text" class="form-control" ng-model="data.sentence" placeholder="句子" ng-keyup="$event.keyCode == 13 && update()">
  <input type="text" class="form-control" ng-model="data.title" placeholder="标题" ng-keyup="$event.keyCode == 13 && update()">
  <input type="text" class="form-control" ng-model="data.url" placeholder="链接" ng-keyup="$event.keyCode == 13 && update()">
  <button type="button" class="btn btn-default" ng-click="update()">确定</button>
  <button type="button" class="btn btn-default" ng-click="edit = false">取消</button>
  <button type="button" class="btn btn-default" ng-click="delete()">删除</button>
</form>